<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
			<rules>
				<rule name="Redirect to WWW" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^emitter.ca$" />
					</conditions>
					<action type="Redirect" url="http://www.emitter.ca/{R:0}" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>
    </system.webServer>
</configuration>